
main{
	margin-left:350px;
	margin-right:350px;
	margin-top:80px;
}
.formulario{
	margin-right: 120px;
	align-items: center;
}
.frmTarefa{
	margin-left: 175px;
}
li{
	margin-top: 5px;
	margin-left:20px;
}
footer{
	color:#FFFFFF;
	background-color: #696969;
	position:fixed;
	bottom: 0;
	width: 100%;
}
.tblNomes{
	border:3px solid #000000;
	margin-left: 118px;
}
.voltaTopo{
	position: fixed;
	right: 40px;
	bottom: 50px;
}
.voltaTopo2{
	position: fixed;
	right:30px;
	bottom: 50px;
}
.rodapé{
	color:#ffffff;
	position: absolute;
	bottom: -800px;
}
.ver{
	position: fixed;
	left: 40px;
	bottom: 50px;
}
.verTabela{
	right:0px;
	top: 200px;
}
.imgThor{
	position: absolute;
	left: 38%;
	clear: both;
}
.cardContato{
	position:absolute;
	left: 37%;
	bottom:-170px;
}
.rodapé2{
	color:#ffffff;
	position: absolute;
	bottom: -200px;
}
.tbltrf{
	border:3px solid;
	position: absolute;
	top:170px;
	margin-left: 133px;
}
.mostra{
	top:100px;
}
#bloco{
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,.8);
	position: fixed;
	display: none;
}
#bloco:target{
	display: block;
}
#bloco:target ~ .boxInfo{
	top:150px;
	transition: all .5s;
	transition-delay: .4s;
}
.boxInfo{
	width: 295px;
	height: 295px;
	position: absolute;
	margin-left: 147px;
	left: 48%;
	top: -1000px;
}
.boxInfo div{
	padding-top: 180px;
	width: 90%;
	position: absolute;
}
.boxInfo img{
	width: 100%;
	position: absolute;
}
#fechar{
	color:#fff;
	font-size: 25px;
	font-family: 'Arial';
	text-decoration: none;
	position: absolute;
	background-color: #000;
	width: 30px;
	height: 30px;
	text-align: center;
	right: 0;
}
#fechar:hover{
	opacity: .6;
}
.mainEditavel{
	margin-right: 0;
	margin-left: 0;
}


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #eb7a55;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

