main{
	margin-left:350px;
	margin-right:350px;
	margin-top:80px;
}
.formulario{
	margin-left: 93px;
}
li{
	margin-top: 5px;
	margin-left:20px;
}
footer{
	color:#FFFFFF;
	background-color: #696969;
	position:fixed;
	bottom: 0;
	width: 100%;
}
.tblNomes{
	border:3px solid #000000;
	margin-left:559px;
}
#card_thor{
	border:1px solid #000000;
	float:right;
	position:absolute;
	top:400px;
	left:10px;
}
.voltaTopo{
	position: absolute;
	right: 40px;
	bottom: -300px;
}
.rodapé{
	position: absolute;
	bottom: -400px;
}
.ver{
	position: absolute;
	left:40px;
	bottom: -300px;
}
.verTabela{
	position: absolute;
	left: 600px;
	top: 200px;
}