main{
	margin-left:350px;
	margin-right:350px;
	margin-top:80px;
}
.formulario{
	margin-left: 93px;
}
li{
	margin-top: 5px;
	margin-left:20px;
}
footer{
	color:#FFFFFF;
	background-color: #696969;
	position:fixed;
	bottom: 0;
	width: 100%;
}
.tblNomes{
	border:5px solid #0000;
	margin-left:555px;
}
#card_thor{
	float:right;
	position:absolute;
	top:200px;
}
.voltaTopo{
	position: absolute;
	right: 40px;
	bottom: -70px;
}
.rodapé{
	position: absolute;
	bottom: -120px;
}